<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<title>Add Food</title>
	</head>
	<body>
		<div class="container m-auto">
			<h3>ADD FOOD ITEM</h3>
			<form autocomplete="off" method="post">
				<div class="form-group">
					<label for="name">Food Name</label>
					<input type="name" class="form-control" name="name" placeholder="Enter food name" value="<%= product.name %>" required />
				</div>

				<div class="form-group">
					<label for="price">Price</label>
					<input type="number" class="form-control" name="price" placeholder="Enter food price" value="<%= product.price %>" required />
				</div>

				<div class="form-group">
					<label for="pictureUrl">Picture Url</label>
					<input
						type="url"
						class="form-control"
						name="pictureUrl"
						placeholder="Enter food picture url"
						value="<%= product.pictureUrl %>"
						required
					/>
				</div>
				<div class="form-group">
					<label for="category">Category</label>
					<select name="category" class="form-control" id="category">
						<% for(var i = 0; i < categories.length; i++) { if(categories[i].name == product.category){ %>
						<option value="<%= categories[i].name %>" selected><%= categories[i].name %></option>
						<% } else{ %>
						<option value="<%= categories[i].name %>"><%= categories[i].name %></option>
						<% }} %>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success">Save</button>
					<button type="reset" class="btn btn-danger">Reset</button>
					<a onclick="window.history.back();" class="btn btn-secondary">Return</a>
				</div>
			</form>
		</div>
	</body>
</html>
